
body {
    background-color:black;
}
h1 {
    color:rgb(236, 204, 143);
    line-height:1.5;
    font-weight: bold;
    text-align: start;
    display: block;
}
.wrapped {
    width: 500px;
    position: absolute;
    top: 10%;
    left:30%;
    transform: translate(-50%,-50%);

}
span {
    height: 60px;
    width:20px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: fixed;

}
.container {
    display: flex;
    flex-direction: column;
    background-image:url('https://th.bing.com/th/id/OIP.aOTiVoErn-TyB0oim-tN1AHaEo?rs=1&pid=ImgDetMain');
    background-size: cover;
    margin-bottom: 60px; 
    padding-bottom: 120px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.col {
    padding: 40px;
    margin:40px;

}


.line1 {
    background-color:blanchedalmond;
    animation:animate1 1.9s linear infinite;
    top:200px;
    left:95px;
}
.line2 {
    background-color:rgb(231, 170, 55);
    animation:animate2 2.1s linear infinite;
    top:200px;
    left:95px;
}
.line3 {
    background-color:burlywood;
    animation:animate3 2.3s linear infinite;
    top:200px;
    left:130px;
}
.line4 {
    background-color:palevioletred;
    animation:animate4 2.3s linear infinite;
    top:200px;
    left:165px;
}
.line5 {
    background-color:palegreen;
    animation:animate5 1.7s linear infinite;
    top:200px;
    left:200px;
}

line6 {
    background-color:pink;
    animation:animate5 2.0s linear infinite;
    top:200px;
    left:235px;
}
line7 {
    background-color:wheat;
    animation:animate5 1.8s linear infinite;
    top:200px;
    left:270px;
}

@keyframes animate1 {
    50% {
        background-color: #000;
        top: 100px;
        height: 160px;
    }
}

@keyframes animate2 {
    50% {
        background-color: #000;
        top: 50px;
        height: 210px;
    }
}

@keyframes animate3 {
    50% {
        background-color: #000;
        top: 10px;
        height: 250px;
    }
}

@keyframes animate4 {
    50% {
        background-color: #000;
        top: 100px;
        height: 160px;
    }
}

@keyframes animate5 {
    50% {
        background-color: #000;
        top: 50px;
        height: 210px;
    }
}

@keyframes animate6 {
    50% {
        bakgrond-color: #000;
        top:150px;
        height:110px;
    }
}

@keyframes animate7 {
    50% {
        background-color: #000;
        top:50px;
        height:210px;
    }
}
form {
    
    border-radius: 25px;
    position:relative;
    text-align: center;
    
    

}
input {
    width: 160%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px 40px 8px 20px; 
    border: none;
    box-shadow: 0 5px 8px 3px black;
}

input:focus {
    outline: none;
}

button {
        position:absolute;
        top: 50%; 
        left:8px;
        transform: translateY(-50%); 
        border: none;
        background: none;
        font-size: 18px;
        cursor: pointer;
    }
    
button i{
    color:blue;

}
button:hover {
    color:aquamarine;
}
.free {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: -30px; 
    background-image: none;
    margin-bottom: 30px;
}
h{
    font-size:20px;
    color:rgb(236, 204, 143);
    font-weight: bold;
}
.code-container .code-line {
    display: inline; 
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-right: 10px; 
  }


